* {
  box-sizing: border-box;
}
form{
    width: 70%;
    margin: auto;
}
input[type=text], select, input[type=date], input[type=password], input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=reset], input[type=submit]{
    margin: 10px;
    background-color: #FFFFFF;
    color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
#btn {
    transition-duration: 0.4s;
}
#btn:hover {
    background-color:royalblue;
    color: white;
}
input[type=submit]:hover {
  background-color: royalblue;
}

.container {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
}
}
body{
  font-size: 29px;
  color: azure;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
a {
    
  display: block;
  width: 100%;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  color: red;
  background: #eff;
  display: block;
  
}